<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/hp/IdeaProjects/EpamFinalProject/src/test/java/org/example/LoginPageTest.java">
        <classes>
            <class name="org.example.SignInPageTest">
                <methods>
                    <include name="verifyLoginTest"/>
                    <include name="Saved"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>